<%= @names %>

<form action="/buttons" method="post">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Rock" name="rock">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Paper" name="paper">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Scissors" name="scissors">
</form>
