<div style="text-align:center">

<%= @names %>

<form action="/buttons" method="post">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Rock" name="rock" style="color: blue;">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Paper" name="paper" style="color: blue;">
  <label for="player_1_name">
  </label>
  <input type="submit" value="Scissors" name="scissors" style="color: blue;">
</form>
</div>