<!DOCTYPE html>
<html>
  <div style="text-align:center">
  
  <body>
  <h1>Let's play Rock, Paper, Scissors!</h1>
  <h2>Please enter your name</h2>
  <form action="/names" method="post">
    <label for="player_1_name">
      Player 1 name
    <input type="text" name="player_name">
    </label>
    <input type="submit" value="Play!">
  </form>
  </body>
</div>
</html>
